.logo {
  display: block;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--second-logo-color);
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}
.logo--current {
  color: var(--accent-color);
}
