a {
  text-decoration: none;
}
h1,
h2,
h3,
ul,
p,
li,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
input {
  margin: 0;
  padding: 0;
}
label {
  margin: 0;
  padding: 0;
}
